/* individual element styling */

#body {
    background-color: white; /* used to be red (local changes)*/
    overflow-x: auto;
    overflow-y: auto;
    white-space: auto;
}





#TemporaryBarrier {
    width: 60%;
    height: auto;

    font-size: 36px;
    color: white;
    font-family: sans-serif;

    background-color: rgb(70, 70, 70);
    border: 7px solid rgb(130, 130, 130);
}




#phoneMenu {
    width: 90%;
    height: 95%;

    background-color: rgb(70, 70, 70);
    border: 7px solid rgb(130, 130, 130);

    display: flex;
    gap: 16px;

}

#phoneMenuTitle {
    width: 80%;
    min-height: 124.5px;
    box-sizing: border-box;
    border: 7px solid rgb(130, 130, 130);
    background-color: rgb(90, 90, 90);

    font-size: 70px;
    font-family: sans-serif;
    color: white;

}

#phoneRow1 {
    width: 80%;
    height: 80%;

    display: block;
    gap: 16px;
    overflow-y: auto;

    border: 7px solid rgb(130, 130, 130);
    background-color: rgb(90, 90, 90);

}






/* classes */

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontally-centered {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.horizontally-centered-items{
    display: flex;
    justify-content: center;
    text-align: center;
}

.centered-items{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* classes for js */

.phone-page-opener {
    width: 90%;
    max-height: 300px;
    background-color: rgb(80, 80, 80);
    border: 7px solid rgb(120, 120, 120);
    display: grid;
    place-items: center;
    box-sizing: border-box;
    margin-inline: auto;
    margin-top: 20px;

    @supports (min-height: 300px){
        overflow: auto;
    }

}


.phone-opener-title {
    display: block;
    max-width: 80%;
    text-align: center;
    color: white;
    font-size: 50px;

    background-color: rgb(70, 70, 70);
    border: 7px solid rgb(130, 130, 130);

    align-self: flex-start;
}

.phone-opener-details {
    max-width: 80%;
    text-align: center;
    color: white;
    font-size: 26px;
    

    align-self: flex-start;
}

.phone-opener-view {
    width: 80%;
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: rgb(46, 250, 0);
    border: 7px solid rgb(120, 120, 120)
}



/* page */

.phone-page {
    width: 90%;
    height: 95%;

    background-color: rgb(70, 70, 70);
    border: 7px solid rgb(130, 130, 130);

    display: block;
    gap: 16px;
    overflow-y: auto;
    overflow-x: hidden;

}

.phone-page-title {
    max-width: 80%;
    height: min-content;
    font-size: 70px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(90, 90, 90);
    border: 7px solid rgb(130, 130, 130);

    margin-inline: auto;
    margin-top: 20px;

    text-align: center;

}

.phone-page-text {
    max-width: 80%;
    height: min-content;
    max-height: 1600px;
    font-size: 32px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(90, 90, 90);
    border: 7px solid rgb(130, 130, 130);

    margin-inline: auto;
    margin-top: 20px;

    text-align: center;

    overflow-y: auto;
    overflow-x: hidden;

}

.phone-page-return {
    width: 80%;
    height: min-content;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    background-color: rgb(250, 0, 0);
    border: 7px solid rgb(130, 130, 130);

    margin-inline: auto;
    margin-bottom: 20px;
    text-align: center;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}





